@import 'mixins';
@import 'variables/sizes';

.inner {
    @include flex(row, center, center);
    white-space: nowrap;
    flex-wrap: nowrap;
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 400;

    @include breakpoint(desktop) {
        @include font-size(14, 1);
        gap: vw(12);
        padding: vw(16) vw(20);
    }
}

.button {
    width: fit-content;
    height: fit-content;
    pointer-events: auto;
    position: absolute;
    inset: auto 0 0 0;
    margin: auto auto 0;

    @each $bp, $value in $dashboard-padding {
        @include breakpoint($bp) {
            bottom: $value + vw(40 - $size-dashboard-gap, $bp);
        }
    }

    @include hover {
        svg {
            transform: rotate(90deg);
        }
    }
}
