@import 'mixins';

.wrapper {
    @include flex(column, flex-start, flex-start);
    background-color: var(--color-bg);

    &,
    li,
    button {
        width: 100%;
    }

    @include breakpoint(desktop) {
        padding: vw(16) 0;
    }
}

.emptyResults {
    font-family: var(--font-primary);
    color: var(--color-black);
    padding-left: 12px;
    @include font-size(14, 1);
}
