@import 'mixins';

.form {
    grid-area: main;

    fieldset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            'password password'
            'confirm confirm'
            'reset submit';
        gap: 0.75em;
    }
}

.submit {
    width: fit-content;
    justify-self: end;
}
