@import 'mixins';

.label {
    --color: var(--color-text);
    --color-active: var(--color-accent-blue);
    --color-hover: var(--color-blue-dark);

    grid-area: sorting;
    font-weight: 400;
    position: relative;
    padding-bottom: 0.5em;

    @include hover {
        .current,
        .reverse {
            color: var(--color-hover);
        }

        .list {
            opacity: 1;
            pointer-events: auto;
        }
    }

    @include focus {
        .list {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.current {
    display: inline-block;
    color: var(--color-active);
    transition: 200ms color ease-in-out;

    span:last-of-type {
        font-weight: 500;
    }
}

.list {
    z-index: 2;
    position: absolute;
    left: 0;
    top: calc(100%);
    padding: vw(12);
    min-width: vw(154);
    border-radius: var(--border-radius);
    border: var(--border-active);
    background-color: var(--color-bg);
    @include font-size(11, 15);
    color: var(--color-text);
    transition: 200ms opacity ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.option {
    transition: 200ms color ease-in-out;

    &.is-current {
        color: var(--color-active);
        font-weight: 500;
    }

    @include hover {
        color: var(--color-hover);
    }
}

.reverse {
    margin-left: 0.5em;
    color: var(--color-active);
    transition: 200ms color ease-in-out;

    svg {
        position: relative;
        top: 0.1em;

        path {
            fill: currentColor;
        }
    }

    &.is-reversed svg {
        transform: rotate(180deg);
    }
}
