@import 'mixins';

.form {
    grid-area: main;

    fieldset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            'password password'
            'new new'
            'confirm confirm'
            '. submit';
        gap: 0 1em;
    }
}

.submit {
    margin-top: 1em;
    justify-self: end;
    width: fit-content;
}
