$elements: map, page, popups, modals, loader, placeholder;
$dashboard-elements: map, header, filters, panel, details, statistics, list, right-items;
$panel-elements: bg, modal, button-top, button-center, button-bottom;
