@import 'mixins';
@import 'variables/sizes';
@import 'helpers';

.modal {
    width: vw(450);
    height: vw($size-dashboard-left-panel-max-height);
    margin-left: calc(vw($size-dashboard-spacing) + vw(20));
    margin-right: auto;
    margin-top: vw(90);
    margin-bottom: auto;
}

.wrapper {
    padding: vw(40) vw(55);
    height: 100%;
}
