@import 'mixins';
@import 'variables/easings';

.wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
    color: var(--color-black);
    background-color: var(--color-white);
    overflow: hidden;
    border-radius: var(--border-radius);
    outline: 1px solid transparent;
    transition: outline-color var(--transition-fast);
    pointer-events: all;

    &:global {
        &:not(.is-loading):not(.is-skeleton) {
            @include hover {
                outline-color: var(--color-accent-blue);
            }
        }
    }

    :global {
        .skeleton {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;

            div {
                height: 100%;
            }
        }
    }
}

.inner {
    display: grid;
    grid-template-columns: vw(90) 1fr;
    grid-template-areas: 'image content';
    width: 100%;
    pointer-events: none;
}

.button {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: all;

    @include focus {
        outline: none;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            border: 2px solid var(--color-yellow-a11y);
        }
    }
}

.image {
    grid-area: image;
    position: relative;
}

.content {
    grid-area: content;
    padding: vw(10);
}

.hiddenContent {
    @include flex(column, flex-start, flex-start);
    visibility: hidden;
}

.title {
    @include font-size(12, 1);
    font-weight: 600;
    margin-bottom: vw(7);
}

.coords,
.date {
    color: var(--color-grey);
    font-weight: 400;
    @include font-size(10, 15);
}

.plumeCount {
    color: var(--color-grey);
    font-weight: 400;
    @include font-size(10, 15);
    margin-bottom: 0.5em;
}

.count {
    padding: 0;
    text-align: left;

    * {
        justify-content: flex-start;
    }
}

.skeletonImage {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0.65;
}

.skeletonTextWrapper {
    @include flex(column, flex-start, flex-start);
    gap: vw(6);
    width: 100%;
    position: absolute;
    inset: 0;
    opacity: 0.65;

    br {
        display: none;
    }
}
