@import 'mixins';

.form {
    grid-area: main;

    fieldset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1.5em auto 1em auto 1em;
        grid-template-areas:
            '. .'
            'alerts alerts'
            '. .'
            'schedule schedule'
            '. .'
            'recipients recipients';
        gap: 0 1em;
        transition: 2000ms;
    }

    label {
        &:nth-of-type(1) {
            z-index: 9;
        }

        &:nth-of-type(2) {
            z-index: 8;
        }

        &:nth-of-type(3) {
            z-index: 7;
        }

        &:nth-of-type(4) {
            z-index: 6;
        }

        &:nth-of-type(5) {
            z-index: 5;
        }

        &:nth-of-type(6) {
            z-index: 4;
        }

        &:nth-of-type(7) {
            z-index: 3;
        }

        &:nth-of-type(8) {
            z-index: 2;
        }

        &:nth-of-type(9) {
            z-index: 1;
        }

        // &:nth-of-type(10) {
        //     z-index: 0;
        // }
    }
}

.submit {
    margin-top: 1em;
    justify-self: end;
    width: fit-content;
}
