@import 'mixins';

.wrapper {
    position: relative;
    z-index: 0;
}

.legend {
    @include flex(row, flex-start, center);
    @include font-size(16, 21);
    font-weight: 700;

    & + button {
        margin-top: 1em;
    }
}
